*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.cartcontainer{
    padding: 40px 50px;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #9a9a9a;
}
.cartcontainer .emptycart{
    margin-top: 30px;
    margin-left: 40%;
}
.cartcontainer .emptycart h2{
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}
.cartcontainer .emptycart .emptycartbtn{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #010f1c;
    margin-left: 80px;
}
.cartcontainer .contant{
    max-width: 100%;
    padding: 20px 30px;
    position: relative;
}
.cartcontainer .contant .cart_item{
    padding: 20px 30px;
    display: flex;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cartcontainer .contant{
    max-width: 100%;
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.cartcontainer .contant .cart_item{
    padding: 20px 30px;
    display: flex;
    width: 800px;
    height: 200px;
    background: #fff;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    
}
.cartcontainer .contant .cart_item .img_box{
    padding: 20px 20px;
    
    background: #f1f1f1;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartcontainer .contant .cart_item .img_box img{
    width: 250px;
    height: 250px;
}
.cartcontainer .contant .cart_item .detail{
    margin-left: 60px;
    display: flex;
    width: 700px;
    border-radius: 10px;
    /* margin-top: 30px; */
    background-color: rgb(247, 247, 247);
    padding: 20px 30px;
    position: relative;
}
.cartcontainer .contant .cart_item .detail .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cartcontainer .contant .cart_item .detail .info h4{
    text-transform: uppercase;
    font-size: 15px;
    color: #9a9a9a;
    font-weight: 100;
    
}
.cartcontainer .contant .cart_item .detail .info h3{
    margin-top: 20px;
    color: #010f1c;
    font-style: 22px;
    font-weight: 200;
    
}
.cartcontainer .contant .cart_item .detail .info p{
    margin-top: 10px;
    color: #010f1c;
}
.cartcontainer .contant .cart_item .detail .info .qty{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    /* gap: -10px; */
    width: 50px;
    height: 40px;
    

}
.cartcontainer .contant .cart_item .detail .info  .incqty{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 28px;
    cursor: pointer;
}
.cartcontainer .contant .cart_item .detail .info  .decqty{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: #0989ff;
    font-size: 32px;
    cursor: pointer;
}
.cartcontainer .contant .cart_item .detail .info  .qty input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #010f1c;
    width: 50px;
    /* margin-left: 20px; */
}
.cartcontainer .contant .cart_item .detail .info .subtotal{
    color: #010f1c;
    font-size: 32px;
    margin-top: 10px;
}
.cartcontainer .contant .cart_item .detail .close{
    /* margin-top: 30px;
    margin-left: 50px; */
    top: 3px;
    right: 3px;
    /* background-color: red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100px;
}
.cartcontainer .contant .cart_item .detail .close button{
    border: none;
    outline: none;
    font-size: 18px;
    color: #302f2f;
    cursor: pointer;
    background: none;
}






.payment{
    background-color: #010f1c;
    width: 300px;
    padding: 20px 20px;
    height: 450px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: left;
    
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
}
.payment .btnbox{
    display: flex;
    justify-content: space-evenly;
}
.payment .btn{
    padding: 5px 15px;
    border-radius: 100px;
    border-style: none;
    color: #fff;
    background-color: #302f2f;
}
.payment input{
    border-left: 1px solid black;
    border-right: none;
    border-top: none;
    background-color: #010f1c;
    color: #fff;
    border-bottom: 1px solid #fff;
    
}
.line{
    font-size: 100px;
    width: 100px;
}

.inner-content{
    display: grid;
}
.tag{
    margin-left: 30px;
}
.date{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.date input{
    width: 120px;
    color: #fff;
}
.date div{
    gap: 10px;
    display: grid;
}
.totalcheckoutbutton{
    display: flex;
    align-items: center;
    
    /* border: 1px solid red; */
    justify-content: space-between;
    height: 40px;
}
.cartcontainer .totalprice{
    /* margin-top: 30px;
    margin-left: 45%; */
    text-transform: uppercase;
}
.cartcontainer .checkout{
    /* margin-top: 40px;
    margin-left: 49%; */
    padding: 10px 20px;
    color: #fff;
    border-radius: 100px;
    background: #0989ff;
    border: none;
    outline: none;
    cursor: pointer;
}